
#extend-top{
    width: 100%;
    height: 30px;
    background: #e3e4e5;
}
.banner-wp{
    width: 1210px;
    height: 30px;
    background: #e3e4e5;
    margin: 0 auto;
}
.fl{
    height:30px;
    float: left;
}
.fl span{
    line-height: 30px;
    margin-left: 19px;
    color:#999;
}
.nav-list{
    float: right;
} 
.nav-list li{
    float: left;
    height: 15px;
    border-right: solid 1px #999;
    padding: 0 15px;
    margin-top: 7px;
    
}
.nav-list li a{
    color: #999;
}
.nav-list .nav-list{
    border: none;
}
.nav-list .nav-list-a{
    color: red
}

.banner-wp2{
    width: 1210px;
    height: 100px;
    /* background: red; */
    margin: 0 auto;
    overflow: hidden;
}
.classify{
    width: 75px;
    height: 30px;
    float: left;
    margin-top: 40px;
    border: solid 1px #ccc;
    text-align: center;
    line-height: 30px;
    margin-left: 50px;
}
.classify p{
    color: #ccc;
    
}
.log-jd{
    float: left;
    margin-top: 30px;
}
.search-wp{
    width: 570px;
    height: 40px;
    /* background: yellow; */
    margin-left: 350px;
    margin-top: 25px;
    /* float: left; */
}
.search-ipt{
    height: 40px;
    /* margin-bottom: 10px; */
}
.search-wp input{
    width: 456px;
    height: 30px;
    float: left;
    border: solid #971515;
}
.search-btn-a{
    float: left;
    width: 52px;
    height: 36px;
    background: #b61d1d;
    color: #ffffff;
    line-height: 33px;
    text-align: center;
}
.search-btn-b{
    float: left;
    width: 52px;
    height: 36px;
    background: #474e5c;
    color: #fff;
    line-height: 33px;
    text-align: center;
}

.nav-list3 li{
    float: left;
    margin-right: 10px;
    color: #ccc;
}
.cart{
    width: 141px;
    height: 36px;
    float: right;
    border: solid 1px#DFDFDF;
    margin-right: 60px;
    margin-top: -40px;
    line-height: 36px;
    /* text-align: center; */
}
.cart p{
    float: left;
    margin: 0 20px;
}


.item-wp{
    width: 1210px;
    min-height: 150px;
    /* background: coral; */
    margin: 0 auto;
    
}
.interval{
    width: 100%;
    height: 30px;
    background: #e3e4e5;
}
.product-picture{
    width: 400px;
    height: 380px;
    float: left;
    /* background: yellow; */
    margin-left: 50px;
    border: solid 2px #eaedf0;
}
.product-picture img{
    width:380px;
    height: 370px;
    margin-left: 10px;
    margin-top: 10px;
}
.content-wp{
    width: 500px;
    height: 400px;
    float: left;
    margin-left: 60px;
    /* background: lightcoral; */
}
.name-wp{
    width: 600px;
    height: 50px;
    margin-top: 20px;
}
.name-wp img{
    float: left;
}
.content-wp .name-wp>p{
    font-size: 17px;
    font-weight: 800;
    /* margin-top: 10px; */
    /* background: #999999; */
    /* float: left; */
    margin-left: 105px;
}
.content-wp .content-price{
    width: 500px;
    height: 47px;
    background: #f3f3f3;
    /* line-height: 47px; */

}
.content-price>b{
    color: #999999;
    margin-top: 10px;
    line-height: 45px;
    letter-spacing:5px;
    margin-left: 10px;
}
.content-price>span{
       color: #e4393c;
       font-size: 20px;
       margin-left: 8px;
}
.content-bourn{
    margin-top: 15px;
    width: 300px;
    height: 50px;
}
.content-bourn>p{
    float: left;
    letter-spacing:5px;
    margin-left: 10px;
    color:#999999;
}

.content-bourn>input{
    float: left;
    margin-left: 15px;
    
}   
.number{
    /* width: 300px; */
    height: 46px;
    margin-top: 80px;
    margin-left: -480px;
    float: left;
}
.number .number-n{
    width: 40px;
    height: 25px;
}
.number .number-sub{
    height: 30px;
}
.number .number-push{
    height: 30px;
}
.cart-btn button{
    width: 200px;
    height: 50px;
    margin-top: 30px;
    color: #fff;
    background: #e4393c;
}